body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  height: 100%;
  min-height: 100vh;
  background-color: #252525;
}

.header {
  background: rgb(173, 173, 173);
  background: linear-gradient(
    27deg,
    rgb(173, 173, 173) 20%,
    rgb(103, 131, 110) 99%
  );
}

.hero-a {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 90px;
}
.hero-b {
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}

@media (max-width: 500px) {
  .hero-a {
    font-size: 60px;
  }
}

@media (max-width: 700px) {
  .hero-a {
    font-size: 70px;
  }
}

@media (max-width: 500px) {
  .hero-b {
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .hero-b {
    font-size: 20px;
  }
}

.details {
  color: white;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 500px) {
  .details {
    font-size: 30px;
  }
}
